body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.App {
  text-align: center;
}

.numberbox{
  text-align: center;
}
.searchinput{
  height: 30px;
  min-width: 200px;
  background: rgba(217, 221, 146, 1);
  margin: 20px auto;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
